<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    body{
      background-image: url('/static/white.jpg');
      background-size: cover;
      margin: 0px;
      padding: 0px;
    }
    </style>
    <title>CURRENCY CONVERTER!</title>
  </head>
  <body>
    <div class="container">
  <div class="jumbotron bg-success text-white"style="text-align:center">
    <h1 style="font-family: 'Lobster', cursive;margin:auto;font-size:70px">CURRENCY CONVERTER</h1>
    <p></p>
    <p>WORLD CURRNECY EXCHANGE RATES AND CURRENCY EXCHANGE RATE HISTORY</p>
  </div>
</div>

  <form action = "http://localhost:8054/conversionresult" method = "POST">
<div class="form-group text-center">
<h3><label for="sel1"><span class="badge badge-primary">FROM COUNTRY</span></label></h3>
<select class="form-control" id="sel1" name='fromcountry'>
  <option>INR</option>
  <option>USD</option>
  <option>JPY</option>
  <option>GBP</option>
  <option>EUR</option>
</select>
<br>
<br>
</div>
<div class="form-group text-center">
<h3><label for="sel2"><span class="badge badge-primary">TO COUNTRY</span></label></h3>
<select class="form-control" id="sel2" name='tocountry'>
  <option>INR</option>
  <option>USD</option>
  <option>JPY</option>
  <option>GBP</option>
  <option>EUR</option>
</select>
<br>
<br>
</div>
<div class="form-group text-center">
  <h3><label for="uname"><span class="badge badge-primary">AMOUNT<span></label></h3>
  <input type="text" class="form-control" id="uname" placeholder="Enter Amount" name="amount" required>
  <div class="valid-feedback">Valid.</div>
  <div class="invalid-feedback">Please fill out this field.</div>
</div>
<div class="container text-center">
<button type="submit" class="btn btn-primary">CONVERT!</button>
</div>

</form>

  <span class="badge badge-secondary" id='demo'></span>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
