<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    body{
      background-image: url('static/home.jpg');
      background-size: cover;
      font-family: 'Abril Fatface', cursive;
    }
    h1{
      padding-bottom: 35px;

    }
    div{
      margin: 20px;

    }
    </style>

    <!-- Bootstrap CSS -->


    <title>Trade Blotter and Currency Converter</title>
  </head>
  <body class="text-center">
    <h1>TRADE BLOTTER </h1>
    <div class="container">
    <a href="http://localhost:8054/"><button type="button" class="btn btn-outline-warning btn-lg">CURRENCY LISTINGS</button></a>
  </div>
    <br>
    <div class="container">
    <a href="http://localhost:8054/convert"><button type="button" class="btn btn-outline-success btn-lg">CURRENCY CONVERTER</button></a>
  </div>
    <br>
    <div class="container">
    <a href="http://localhost:8054/news"><button type="button" class="btn btn-outline-primary btn-lg">ECONOMY NEWS</button></a>
  </div>
    <br>
    <div class="container">
    <a href="http://localhost:8054/sign-up"><button type="button" class="btn btn-outline-dark btn-lg">LOGIN</button></a>
  </div>
    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
