<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <style>
  body{
    background-image: url('static/business.jpg');
    background-size: cover;
  }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
</head>
<body>
<br>
<br>
<div class="container-fluid">
  <div class="d-flex justify-content-center">
  <h1 style="font-family: 'Baloo Chettan', cursive;" class="display-3 text-light">TRADER <span class="badge badge-light">PORTAL</span></h1>
</div>
  <br>
  <br>
  <div class="card-deck">
    <div class="card text-white-50 bg-dark">
  <img class="card-img-top" src="static/parth.jpg" alt="Card image" style="width:100%">
  <div class="card-body">
    <h4 class="card-title display-4" style="font-family: 'Baloo Chettan', cursive;">DEUTSCHE BANK</h4>
    <div class="container" style="font-family: 'Germania One', cursive;">
    <p class="card-text">NAME <span class="badge badge-light"> PARTH KINGRANI</span></p>
    <p class="card-text">AGE    19</p>
    <p class="card-text">ID 201800293</p>
    <p class="card-text">BID  400$</p>
  </div>
  <br>
  <div class="container">
    <a href="https://www.facebook.com/parth.kingrani" class="btn btn-primary stretched-link">See Profile</a>
  </div>
  </div>
  </div>
  <div class="card text-white-50 bg-dark">
<img class="card-img-top" src="/static/yash.jpg" alt="Card image" style="width:100%">
<div class="card-body">
  <h4 class="card-title display-4" style="font-family: 'Baloo Chettan', cursive;">Yash Mate</h4>
  <p class="card-text" >Some example text some example text. Yash Mate is an architect and engineer</p>
  <a href="https://www.facebook.com/yash.mate.739" class="btn btn-primary stretched-link">See Profile</a>
</div>
</div>
<div class="card text-white-50 bg-dark">
<img class="card-img-top" src="/static/ashish.jpg" alt="Card image" style="width:100%">
<div class="card-body">
<h4 class="card-title">Ashish Bhat</h4>
<p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
<a href="https://www.facebook.com/ashish.bhat.148" class="btn btn-primary stretched-link">See Profile</a>
</div>
</div>
  </div>
</div>

</body>
</html>
